body {
  margin: 0;
  padding: 0;
}

.todoArea {
  margin: 5px;
  padding: 10px;
  position: absolute;
}

.addTodo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.create {
  width: 99%;
  height: 118px;
  padding: 6px;
}
.typeHere {
  width: 584px;
  height: 37px;
  border-radius: 10px;
}

.btn {
  width: 68px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.todoList {
  height: 55px;
  width: 812px;
  border-radius: 10px;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 8px 8px;
  padding: 4px 4px;
  background: beige;
  position: relative;
}

.AllTodos {
  height: 80vh;
  padding: 4px;
  overflow: auto;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  gap: 4px;
  background-color: beige;
  border-radius: 10px;
}
.mutate {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}


.completed {
  height: 55px;
  width: 812px;
  border-radius: 10px;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 8px 8px;
  padding: 4px 4px;
  background: beige;
  position: absolute;
}

.block {
  display: block;
}

.none {
  display: none;
}

#block {
  display: block;
}

#none {
  display: none;
}